<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

  <main class='container'>

    <% include ../static/partials/messages.ejs %>
    <h1>Account Upgrade for <%= currentUser.name %></h1>

    <form action="/users/<%= currentUser.id %>/upgradeAccount" method="POST" id="payment-form">
      <div class="group" id="example-1">
        <!-- <fieldset>
          <div class="stripe-form-row row">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Jane Doe" required="" autocomplete="name">
          </div>
          <div class="stripe-form-row row">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="janedoe@gmail.com" required="" autocomplete="email">
          </div>
          <div class="stripe-form-row row">
            <label for="phone">Phone</label>
            <input id="phone" type="tel" placeholder="(941) 555-0123" required="" autocomplete="tel">
          </div>
        </fieldset> -->


        <!-- <label for="card-element">Card</label> -->
        <div id="card-element" class="StripeElement StripeElement--empty field">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
        <button>Pay $15 for Membership Upgrade</button>
      </div>
    </form>





  </main>
  <% include ../static/partials/baseScripts.ejs %>


</body>

</html>